footer{
    background-color: rgb(70, 70, 232);
    text-align: center;
    height: 80px;
    color: black;

}
section{
    background-color: rgb(162, 162, 214);
    color: white;
    text-align: center;

}
h1{
    color: rgb(44, 44, 88);
}